/*.comiclist { background-color: red; }*/
.comiclist-hidden { visibility: hidden; }

.inputform { background-color: ; }
.inputform-hidden { visibility: hidden; }

.comic-normal {}
.comic-chosen {background-color: #E08D8D}