/*.comiclist { background-color: red; }*/
.comiclist-hidden { visibility: hidden; }

.inputform { background-color: ; }
.inputform-hidden { visibility: hidden; }

.comic-normal {}
.comic-selected {background-color: #D9EDF7;}
/*.comic-toohigh {background-color: #F2DEDE;}*/